<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul id="messages"></ul>
    <form @submit.prevent="addPseudo">
      <p>indiquez votre pseudo:</p>
      <input id="m" autocomplete="off" placeholder="votre pseudo" v-model="currentUser"/><button>Send</button>
    </form>
    <br>
    

    <ul v-for="(user, index) in presentUsers" :key="index"><span v-show="user!==currentUser"> name:{{user}}-id:{{index}}<input type="submit" value="ping"
      @click.prevent="pinguser(index, user)"></span></ul>

  </div>
  <form>
  </form>
</body>
<script src="/socket.io/socket.io.js"></script>

<script>

  var socket = io();

  var app = new Vue({
    el: "#app",

    data() {
      return {
        currentUser:"",
        presentUsers: null,
        message: "helloWorld",
        pseudo: "",
      }
    },

    methods: {

      pinguser(id,pseudo,currentUser) {
          console.log(id, "invité:", pseudo, "utilisateur:", this.currentUser)
          socket.emit("invitation", id,pseudo,currentUser)
          socket.on("askPlay", function (res) {
            console.log("reponse:",res)
          })
      },
      addPseudo() {
        const pseudo = this.currentUser
        console.log("event ok", pseudo)

        socket.emit('monpseudo', pseudo)

        socket.on('addUser', function (pseudo) {
          console.log(pseudo)
        })
      },
    },

    mounted: function () {
      socket.on("connect", () => {
        console.log("connected")

        socket.on('listUsers', function (listUsers) {
          app.presentUsers = (listUsers)
          console.log("list des users:", app.presentUsers)
        })
      })
    }
  })

</script>


</html>